<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>test-ejs</title>
</head>

<body>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <% photo.forEach(function(photo) { %>
                <tr>
                    <td><%= photo.attributes.nome %></td>
                    <td><%= photo.attributes.valor %></td>
                    <td><a class="btn-excluir" href="http://localhost:5000<%= photo.links.self %>">Excluir</a></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <script>
        const photoList = document.querySelector('table')
        photoList.addEventListener('click', function (event) {
            event.preventDefault()
            const btnExcluir = event.target;
            if (btnExcluir.classList.contains('btn-excluir')) {
                const url = btnExcluir.href

                fetch(url, {
                    method: 'DELETE'
                }).then(function () {
                    btnExcluir.parentNode.parentNode.remove()
                })
            }
        })
    </script>
</body>
</html>